$text-black: #000;
$text-black-1: #070707;
$text-black-3: #121212;
$text-black-3-blur: #121212b2;

$text-white: #ffff;
$text-blue-1: #124d9e;
$text-blue-2: #2a70b5;
$text-blue-3: #004998;


$text-size-xsmall: 14px;
$text-size-small: 15px;
$text-size-1: 16px;
$text-size-2: 18px;
$text-size-3: 20px;
$text-size-4: 22px;


$button-background-1: #004998;
$button-background-hover-1: #7AB4F2;

@media (prefers-color-scheme: dark) {}